# ---- macOS junk ----
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# ---- Build artifacts ----
build/
bin/
lib/
obj/
out/
*.o
*.pc
*.gen
*.lo
*.la
*.al
*.a
*.so
*.so.*
*.dylib
*.dSYM/
*.exe
*.out
*.app

# ---- Folly & CMake ----
build/folly/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json
install_manifest.txt
Makefile


# ---- Logs & temp ----
*.log
*.tmp
*.swp
*.swo


GlobalExecutor.cpp.o
Benchmark.cpp.o
ObserverManager.cpp.o
RegexMatchCache.cpp.o
libfollybenchmark.a
JSONSchema.cpp.o
logging_example
compiler_depend.make
compiler_depend.internal
libfolly.a